<link rel="stylesheet" href="/assets/css/fiddle.css">
<script type="text/javascript" src="/assets/js/fiddle.js"></script>
<script type="text/javascript" src="/assets/js/he.js"></script>

<div class="sl_box">
Template URL (required)
<input id="templateUrl" class="sl_input" type="text" value="https://raw.githubusercontent.com/stacklauncher/stacklauncher.github.io/master/examples/s3-bucket/template.json"/>
</div>

<div class="sl_box">
Parameter file URL (optional)
<input id="paramFileUrl" class="sl_input" type="text" value="https://raw.githubusercontent.com/stacklauncher/stacklauncher.github.io/master/examples/s3-bucket/params.json" />
</div>

<div class="sl_box">
<div id="createLinks" class="sl_button">Waiting for script to activate</div>
</div>

<div class="sl_box">
<div id="outputUrlLink">Empty</div>
</div>
